[submodule "common/c/open62541"]
	path = common/c/open62541
	url = git@github.com:open62541/open62541.git
[submodule "common/cpp/open62541pp"]
	path = common/cpp/open62541pp
	url = git@github.com:open62541pp/open62541pp.git
[submodule "common/rust/opcua"]
	path = common/rust/opcua
	url = git@github.com:locka99/opcua.git
